body{

}

.col-center-block{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-border{
    border: solid 1px snow;
    background-color: #d5d5d5;
}

.login-btn{
    display: block;
    margin: 0 auto;
}